CompileFlags:
  CompilationDatabase: build/
Diagnostics:
  UnusedIncludes: Strict
Completion:
  HeaderInsertion: Never
InlayHints:
  Enabled: true
  DeducedTypes: true
  TypeNameLimit: 24
---
If:
  PathMatch: pch/pch\.hpp
Diagnostics:
  UnusedIncludes: None
